@mixin box-shadow {
    -webkit-box-shadow: 6px 8px 15px -7px rgb(30, 30, 30);
    box-shadow: 6px 8px 15px -7px rgb(30, 30, 30);
}

@mixin border-radius {
    border-radius: 12px;
}
@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 85em) {
            @content;
        }
    } @else if $point==laptop {
        @media (min-width: 64em) {
            @content;
        }
    } @else if $point==tablet {
        @media (min-width: 50em) {
            @content;
        }
    } @else if $point==phablet {
        @media (min-width: 40em) {
            @content;
        }
    } @else if $point==mobileonly {
        @media (max-width: 40em) {
            @content;
        }
    }
}

@mixin list-item {
    padding: 15px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
